<div class="text-center">
  <h1 class="header"><%= @cocktail.name %></h1>
  <% if @cocktail.photo? %>
     <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
</div>

<div class="container">
  <h3 class="text-center"><%= @cocktail.description %></h3>
  <div class="row">
    <% if @cocktail.doses.empty? %>
      <p class="text-center error"> No Doses yet!</p>
    <% else  %>
      <p class="text-center"><u>Here's what goes into it</u></p>
      <% @cocktail.doses.each do |dose|%>
        <div class="text-center">
          <%= dose.description + " of " + dose.ingredient.name%>
          <br>
          <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="text-center links">
  <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "btn btn-primary" %>

  <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

  <%= link_to cocktail_path(@cocktail), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</div>

<div class="text-center">
  <%= link_to cocktails_path, class: "btn-back " do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <% end %>
</div>

