<h1 class="text-center header"><%= @cocktail.name %></h1>

<div class="container">
  <h3 class="text-center"><%= @cocktail.description %></h3>
  <div class="row">
    <% if @cocktail.doses.empty? %>
      <p class="text-center error"> No Doses yet!</p>
    <% else  %>
      <p class="text-center"><u>Here's what goes into it</u></p>
      <% @cocktail.doses.each do |dose|%>
        <div class="text-center">
          <%= dose.description %>
          <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="text-center links">
  <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
</div>
